/**
 * @name Anya-BD
 * @author VanillyNeko & Leigh Magee
 * @version 0.0.1
 * @description A theme that I am trying to make self reliant on only itself, Its failing...
 * @donate https://paypal.me/vanillyneko
 * @website https://www.vanillyneko.com/
 * @invite bptEdGMNfW
 * @source https://github.com/arty01238/Theme-For-CrapCord/
**/

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Caveat+Brush&family=Pacifico&display=swap');

:root {
    /* Colour Implementation */

    /* Accent Colours */
    --main-color: #a439b3; /* main accent color (hex, rgb or hsl) [default: #2780e6] */
    --hover-color: #add3ff; /* hover accent color (hex, rgb or hsl) [default: #1e63b3] */
    --success-color: #43b581; /* success accent color (hex, rgb or hsl) [default: #43b581] */
    --danger-color: #982929; /* danger accent color (hex, rgb or hsl) [default: #982929] */
    --url-color: var(--main-color); /*The color of url links [default: var(--main-color)]*/
    --primary3-colour: var(--main-color);

    /* Transparent Discord */
    --background-primary: transparent !important;
    --background-secondary: transparent !important;
    --background-secondary-alt: transparent !important;
    --background-tertiary: transparent !important;
    --background-tertiary-alt: transparent !important;
    --background-accent: transparent !important;

    /* Status Colour */
    --online-color: #43b581; /* online status color (hex, rgb or hsl) [default: #43b581] */
    --idle-color: #faa61a; /* idle status color (hex, rgb or hsl) [default: #faa61a] */
    --dnd-color: #982929; /* dnd status color (hex, rgb or hsl) [default: #982929] */
    --streaming-color: #593695; /* streaming status color (hex, rgb or hsl) [default: #593695] */
    --offline-color: #808080; /* offline/invisible status color (hex, rgb or hsl) [default: #808080] */

    /* General */
    --main-font: Caveat; /* main font for app (font must be installed) [default: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif] */
    --code-font: Consolas, Liberation Mono, Menlo, Courier, monospace; /* font for codeblocks (font must be installed) [default: Consolas, Liberation Mono, Menlo, Courier, monospace] */
    --text-normal: rgb(152, 157, 255); /* color of default discord text */
    --text-muted: rgb(232, 151, 255); /* color of default discord muted text (e.g.text found in input fields before typing).*/
    --channels-width: 200px; /* channel list width (240px for Discord default) [default: 220px] */
    --members-width: 200px; /* member list width [default: 240px] */

    /* Channel Colors */
    --channel-unread: var(--main-color); /* Unread Server channel color. [default:  var(--main-color)] THIS OVERRIDES YOUR MAIN COLOR*/
    --channel-color: rgba(93, 52, 131, 0.616); /*Read Server channel color  [default: rgba(255,255,255,0.3);]*/
    --channel-text-selected: rgb(232, 151, 255); /* Selected channel text color, CV default is #fff */
    --muted-color: rgb(94, 25, 133); /*Muted channel color  [default: rgba(255,255,255,0.1);]*/

    /* Background */
    --background: url('https://vanillyneko.github.io/Anya-bd/assets/anya-darkened.jpg');
    --backgroundposition: center;
    --backgroundsize: cover;
    --backgroundOpacity: 100;
    --backgroundBlur: 100;

    /* Home Button Icon */
    --home-icon-image: url('https://64.media.tumblr.com/65f4b9128c7a90f98ebb2528d96970dd/2b71a519f05cca0b-3e/s500x750/eae3529add68ff64e541b970284abae52de9e191.gifv');
    --home-icon-image-zoom: 100%;
    --home-icon-image-position: center center;

    /* Font */
    --Chat-Font-Used: 'Caveat', normal;
    --Chat-Font-Size: 15px;
    --Category-Font-Colour: rgb(232, 151, 255);
    --Unread-Chan-Font-Colour: rgb(67, 181, 149);
    --Default-Channel-Text: rgb(232, 151, 255);
    --Muted-Channel-Text: rgb(88, 0, 0);
}

/* Font Is Implemented Here! */
:not([class="hljs"]):not(code)
{
    font-family: var(--Chat-Font-Used)!important;
    /*category-title-text-color: var(--Category-Font-Colour) !important;*/
    /*unread-channel-text: var(--Unread-Chan-Font-Colour) !important;*/
    /*default-channel-text: var(--Default-Channel-Text) !important;*/
    /*muted-channel-text: var(--Muted-Channel-Text) !important;*/
}

/* Font Size Which Matters */
.markup:not(code)
{
    font-size: var(--Chat-Font-Size)!important;

}

/* Background Variable Implemented */
body
{
    background: var(--background);
    background-position: var(--backgroundposition) !important;
    background-repeat: no-repeat !important;
    background-size: var(--backgroundsize) !important;
    opacity: var(--backgroundOpacity);
    filter: blur(var(--backgroundBlur));
}

/* More Colour Allocation */
.link__2e8e1
{
    color: rgb(232, 151, 255);
}

.layerContainer_d5a653
{
    color: rgb(232, 151, 255);
    background-color: rgb(85, 136, 255);

}

/* Title Bar Text (Could Be Removed If You Learn To Hate It) */
#app-mount .typeWindows__5fa63
{
    background-color: rgba(234, 164, 255, 0.315);
    border-bottom: 2px solid var(--primary3-colour);
    height: 30px;
    margin: 0px;
}

/* Title Bar Text */
#app-mount .typeWindows__5fa63:after
{
    content: "Anya Theme v1 By VanillyNeko";
    color: rgb(85, 136, 255);
    font-weight: 500;

    position: absolute;
    top: 8px;
    left: 43.2%;
}

/* Discord Home Icon Replacement */
.tutorialContainer__890ea .childWrapper__01b9c
{
    background: var(--home-icon-image) !important;
    background-position: var(--home-icon-image-position) !important;
    background-repeat: no-repeat !important;
    background-size: var(--home-icon-image-zoom) !important;
}

/* Makes Discord Icon Go Bye Bye */
.tutorialContainer__890ea
.listItem_fa7b36
.listItemWrapper__1f93b
.wrapper_d281dd
svg
{
    display: none;
}